/* Instellingen om fouten te helpen vinden, uncomment om aan te zetten */

* {                                          /* geldt voor alles */
    /* border: 1px dotted black;         */  /* zorg dat elke box een gestippelde rand krijgt, zodat je de afmeting goed kunt zien, letop dat dit de layout soms kan wijzigen */
    /* background-color: rgba(0,0,0,5%); */  /* zorg dat elke box een doorzichtige donkere achtergrond krijgt, hoe meer boxen in elkaar hoe donkerder de achtergrondkleur */
}

/* Basisinstellingen voor alle pagina's, alleen aanpassen als je pro wilt worden */

html, body {                      /* geldt voor html en body */
  margin: 0px;                    /* standaard marge 0 */
  background-color: #000000;    /* achtergrondkleur lichtgrijs */
  color: #fffb00;               /* tekstkleur donkergrijs */
}  

body * {                          /* geldt voor alles in body */
  overflow: hidden;               /* zorgt dat DIV en andere block elementen de hoogte krijgt van wat erin zit (anders is het soms 0) */
  box-sizing: border-box;         /* zorg dat border meetelt bij de width en height van boxen */
  margin: 0px; 
                                   /* standaard marge 0 */
  div {
  width: 300px;
  border: 15px solid  #ff2600;
  padding: 50px;
  margin: 20px;
}
 

}

/* Indeling voor alle pagina's */

.page {
  width: 700px;                   /* vaste breedte van 700 pixels */
  margin: 10px auto;              /* boven en onder 0 pixels marge, links en rechts marge gelijk verdeeld (gecentreerd) */
}

header, footer {                  /* geldt voor header en footer */
  margin: 10px 0px;
}

main {                       
  text-align: justify;            /* tekst uitvullen */}

h1, h2, h3 {                      /* geldt voor h1 en h2 en h3 */
  margin: 30px 0px;
  text-align: center;             /* tekst centreren */
} 

p {
  margin: 10px 0px;
  text-align: justify; 
  border: 3px solid;
  border-radius: 10px;
  padding: 5px;
  text-allign: justify;

  main {
    margin: 10px 0px;
    text-align: justify;
    border: 3px solid;
    border-radius: 10px;
    padding: 5px;
    
  } 
    
  
  
                                /* tekst links en rechts uitvullen */
}

.rij {
  border: solid 0px #000000;

}
.rij2 {
  border: solid 0px #000000;
}
.rij3 {
  border: solid 0px #000000;
}


  

                                /* Indeling voor hoofd pagina */

.kolomLinks {
  float:left;
  width:250px;
  padding-right:15px;  
  margin-top: 18px; 
 
  {
  
                          /* afstand tussen plaatje en rechterkolom */
}
.kolomRechts {
  float:left;
  width: 400px;
}



  
}
.kolomStop {
  clear:both;                   /* stop met floaten */
}

/* Opmaak voor alle pagina's */

h1, h2, h3 {
      color: #fffb00;
}

.smalltext {
    text-align: center;
    font-size: 0.7em;
}

a {
    color: #ff2600;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* Navigatiebalk voor alle pagina's */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #000000;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: #fffb00;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #7a7a7a;
}

nav li a.active {
    background-color: #919191ee;
}
#borderimg{
  border: 10px solid transparent;
  padding: 15px;
  border-image: url ("") 30 round;
  opacity: 100%;
}

body {
  background-image: url("https://i.pinimg.com/originals/6c/63/06/6c63068e3cc45a97c7de2360d17bd383.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  border:solid 2px black;
  min-height:100%;
  
}
html{
border:solid 2px black;
  height: 100%;
  
}

.kolommidden{
  
    float:right;
  width:250px;
  padding-right:15px;  
  margin-top: 18px;
  border: solid 0px gray; 


  
}